<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online store</title>
    <link rel="stylesheet" href="./global.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <div class="header__image">
                    <img src="<%= require('./assets/images/logo.png') %>" alt="" class="header__img">
                </div>
                <h1 class="header__title">Online Store</h1>
            </div>
            <div class="header__total">Cart total: €1,647.00</div>
            <div class="header__card"><img src="<%= require('./assets/images/cart.png') %>" alt=""></div>
        </div>
    </header>
    <main class="main">
        <div class="main__container">
            <div class="main__empty-page">page not found</div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <span class="copyright">Copyright <a href="#">OS</a></span>
            <a href="#" class="github">
                <img src="<%= require('./assets/images/github.svg') %>" alt="github icon" width="30" height="30"/>
            </a>
            <a href="" class="github">
                <img src="<%= require('./assets/images/github.svg') %>" alt="github icon" width="30" height="30"/>
            </a>
            <span class="date">Dec-2022</span>
            <a href="https://rs.school/js/" class="course-logo">
                <img src="<%= require('./assets/images/rs_school_js.svg') %>" alt="course logo" width="60"/>
            </a>
        </div>
    </footer>
    <template id="sourceItem" class="template">
        <div class="source__item">
            <span class="source__item-name"></span>
        </div>
    </template>
</div>
<script src="./index.js"></script>
</body>
</html>
