@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* top: 0; */
  /* bottom: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

body,
html {
  height: 100%;
}

.button {
  border: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #6883A6;
  font-family: "Montserrat", sans-serif;
  color: #D9B282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.header,
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  background-color: #343440;
  padding: 12px;
  position: relative;
}

.header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.header__title {
  font-size: 36px;
  font-weight: 700;
}

.header__container,
.footer__container {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.header__card {
  position: relative;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container {
  padding-bottom: 30px;
}

.main__grid {
  padding-top: 30px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.25fr 0.75fr;
  grid-template-columns: 0.25fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.main__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__sub-title,
.brand__sub-title,
.price__sub-title,
.stock__sub-title,
.button,
.cards__sort,
.cards__seach,
.list-products__header,
.summary__title,
.card-info__header {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #343440;
  border-radius: 20px;
  padding: 8px;
  border: 2px solid #D95F18;
}

.categories__reset,
.categories__copylink,
.cards__sort,
.cards__seach {
  font-size: 16px;
}

.cards__seach {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button:hover,
.button:focus {
  background-color: rgb(232, 232, 232);
  color: #343440;
  font-weight: 700;
}

.categories__sub-title,
.brand__sub-title,
.price__sub-title,
.stock__sub-title {
  font-size: 24px;
}

.categories__title,
.brand__title,
.price__title,
.stock__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
  padding: 16px 0;
}

.button,
.categories__item,
.brand__item,
.price__item,
.stock__item,
.cards__sort,
.cards__seach {
  padding: 8px 16px;
  color: #D9B282;
}

.categories__info,
.categories__brand {
  border-radius: 20px;
  background-color: rgba(52, 52, 64, 0.5);
  font-size: 24px;
}

.categories__items,
.brand__items {
  height: 190px;
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6883A6 #D9B282;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #D9B282;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6883A6;
  border-radius: 5px;
  border: 3px solid #D9B282;
}

.categories__form > * {
  margin-bottom: 8px;
}

.categories__input,
.brand__input {
  margin-right: 8px;
}

.categories__input:checked + .categories__label::before,
.brand__input:checked + .brand__label::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 8px;
  width: 15px;
  height: 15px;
  background-color: #D95F18;
  border: 2px solid red;
}

.categories__label,
.brand__label {
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.categories__item {
  position: relative;
}

.brand__item {
  position: relative;
}

.categories__quantity,
.brand__quantity {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.price__choice-price,
.stock__choice-price {
  position: relative;
  width: 100%;
  height: 70px;
}

.price__range,
.stock__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.price__track,
.stock__track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #D9B282;
}

.price__range::-webkit-slider-runnable-track,
.stock__range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

.price__range::-webkit-slider-thumb,
.stock__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #D95F18;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

.price__range:active::-webkit-slider-thumb,
.stock__range:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #D9B282;
}

.price__values,
.stock__values {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.grid__cards {
  padding-left: 16px;
  padding-bottom: 16px;
}

.cards__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 124px;
  padding: 16px 0;
}

.cards__display {
  display: none;
}

.cards__input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background-color: #343440;
  color: #D9B282;
}

.cards__input::-webkit-input-placeholder {
  width: 100%;
  color: #D9B282;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.cards__input::-moz-placeholder {
  width: 100%;
  color: #D9B282;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.cards__input:-ms-input-placeholder {
  width: 100%;
  color: #D9B282;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.cards__input::-ms-input-placeholder {
  width: 100%;
  color: #D9B282;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.cards__input::placeholder {
  width: 100%;
  color: #D9B282;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.cards__body {
  background-color: rgba(52, 52, 64, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.list-products__body {
  background-color: rgba(52, 52, 64, 0.5);
  border-radius: 20px;
}

.cards__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
}

.cards__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 300px;
  position: relative;
}

.card__info {
  border: 2px solid #D95F18;
  background-color: rgba(52, 52, 64, 0.9);
  border-radius: 20px;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 170px;
  height: 200px;
  padding: 8px;
}

.card__buy {
  position: absolute;
  width: 95%;
  height: 15%;
  bottom: 8px;
  left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}

.cards__found {
  font-size: 24px;
}

.cards__sorting {
  position: relative;
}

.cards__sort {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.cards__sorting::before {
  content: "˅";
  color: #D9B282;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 3px;
  font-weight: 700;
  font-size: 24px;
}

.main__cart-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px 0.25fr;
  grid-template-columns: 1fr 0.25fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 48px;
}

.main__cart-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main__cart-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main__cart-grid {
  padding-top: 64px;
}

.main__list-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__list-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}

.list-products__header {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 24px;
}

.summary__title {
  font-size: 24px;
}

.product-cart {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.product-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #343440;
  border-radius: 20px;
  padding: 8px;
  border: 2px solid #D95F18;
  font-size: 20px;
  gap: 16px;
}

.product-cart__number {
  font-weight: 700;
}

.product-cart__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding-top: 20%;
}

.product-cart__img {
  border-radius: 20px;
}

.product-cart__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.product-cart__title {
  font-size: 36px;
}

.product-cart__account {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 700;
}

.product-cart__amount {
  font-size: 36px;
}

.summary__title {
  margin-bottom: 36px;
}

.summary__button {
  font-size: 20px;
}

.summary__item {
  background-color: #343440;
  border-radius: 20px;
  font-size: 30px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__promokod {
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #6883A6;
  color: #D9B282;
  border-radius: 20px;
  padding: 8px 24px;
}

.summary__promokod::-webkit-input-placeholder {
  color: #D9B282;
  text-align: center;
}

.summary__promokod::-moz-placeholder {
  color: #D9B282;
  text-align: center;
}

.summary__promokod:-ms-input-placeholder {
  color: #D9B282;
  text-align: center;
}

.summary__promokod::-ms-input-placeholder {
  color: #D9B282;
  text-align: center;
}

.summary__promokod::placeholder {
  color: #D9B282;
  text-align: center;
}

.pop-up {
  display: none;
  background-color: #6883A6;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30%;
  padding: 16px;
  border: 3px solid #D95F18;
}

.pop-up__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.pop-up__title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  color: #D95F18;
}

.input-up {
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #343440;
  color: #D9B282;
  border-radius: 20px;
  padding: 8px;
}

.input-up::-webkit-input-placeholder {
  color: #D9B282;
  text-align: center;
}

.input-up::-moz-placeholder {
  color: #D9B282;
  text-align: center;
}

.input-up:-ms-input-placeholder {
  color: #D9B282;
  text-align: center;
}

.input-up::-ms-input-placeholder {
  color: #D9B282;
  text-align: center;
}

.input-up::placeholder {
  color: #D9B282;
  text-align: center;
}

.main__menu {
  padding-top: 64px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child):after {
  content: "»";
  position: absolute;
  font-size: 36px;
  font-weight: 700;
  right: -32px;
  top: -12px;
}

.card-info {
  padding-top: 24px;
}

.card-info__header {
  font-size: 24px;
}

.card-info__sub-title {
  margin-bottom: 16px;
}

.card-info__content {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  background-color: #343440;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-info__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-info__img-big {
  border-radius: 20px;
}

.card-info__img {
  width: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.card-info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-info__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  text-align: center;
}

.card-info__price {
  font-size: 36px;
}

.card-info__title {
  font-size: 28px;
  font-weight: 500;
}

.card-info__sub-title {
  font-size: 24px;
}

.card-info__header {
  margin-bottom: 16px;
}

.main__empty-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 48px;
}

.header__quantity {
  position: absolute;
  top: -5px;
  right: 0;
  color: #D95F18;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
}