<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online store</title>
    <link rel="stylesheet" href="./global.css">
</head>

<body>



    <div class="wrapper">

        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                    <div class="header__image"><img src="<%= require('./assets/images/logo.png') %>" alt=""
                            class="header__img"></div>
                    <h1 class="header__title">Online Store</h1>
                </div>
                <div class="header__total">Cart total: €1,647.00</div>
                <div class="header__card"><img src="<%= require('./assets/images/cart.png') %>" alt=""></div>
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <div class="main__grid grid">
                    <div class="grid__filters filters">
                        <div class="filters__categories categories">
                            <div class="categories__title">
                                <button class="categories__reset button">Reset Filters</button>
                                <button class="categories__copylink button">Copy Link</button>
                            </div>
                            <form action="#" class="categories__form">
                                <section class="categories__info">


                                    <h2 class="categories__sub-title">Category</h2>
                                    <div class="categories__items">
                                        <!-- /макет загружаются пункты динамически -->
                                        <div class="categories__item">
                                            <input type="checkbox" name="category" value="smartphones" id="smartphones"
                                                class="categories__input"><label for="smartphones"
                                                class="categories__label">smartphones</label><span
                                                class="categories__quantity quantity-smartphones"></span>
                                        </div>
                                        <div class="categories__item">
                                            <input type="checkbox" name="category" value="laptops" id="laptops"
                                                class="categories__input"><label for="laptops"
                                                class="categories__label">laptops</label><span
                                                class="categories__quantity quantity-laptops"></span>
                                        </div>
                                    </div>
                                </section>
                                <section class="categories__brand brand">
                                    <h2 class="brand__sub-title">Brand</h2>
                                    <div class="brand__items">
                                        <div class="brand__item">
                                            <input type="checkbox" name="category" value="apple" id="apple"
                                                class="brand__input"><label for="apple"
                                                class="brand__label">apple</label><span
                                                class="brand__quantity quantity-apple"></span>
                                        </div>
                                        <div class="brand__item">
                                            <!-- /пмакет загружаются пункты динамически -->
                                            <input type="checkbox" name="category" value="samsung" id="samsung"
                                                class="brand__input"><label for="samsung"
                                                class="brand__label">samsung</label><span
                                                class="brand__quantity quantity-samsung"></span>
                                        </div>
                                    </div>
                                </section>
                                <section class="categories__price price">
                                    <h2 class="price__sub-title">Price</h2>
                                    <div class="price__item">
                                        <div class="price__values">
                                            <span id="range1">
                                                10
                                            </span>
                                            <span> &dash; </span>
                                            <span id="range2">
                                                1949
                                            </span>
                                        </div>
                                        <div class="price__choice-price">
                                            <div class="price__track"></div>
                                            <input type="range" min="10" max="1749" value="10" id="slider1" oninput=""
                                                class="price__range">
                                            <input type="range" min="10" max="1749" value="1749" id="slider2" oninput=""
                                                class="price__range">
                                        </div>
                                    </div>
                                </section>
                                <section class="categories__stock stock">
                                    <h2 class="stock__sub-title">Stock</h2>
                                    <div class="stock__item">
                                        <div class="stock__values">
                                            <span id="range3">
                                                2
                                            </span>
                                            <span> &dash; </span>
                                            <span id="range4">
                                                150
                                            </span>
                                        </div>
                                        <div class="stock__choice-price">
                                            <div class="stock__track"></div>
                                            <input type="range" min="2" max="150" value="2" id="stock1" oninput=""
                                                class="stock__range">
                                            <input type="range" min="2" max="150" value="150" id="stock2" oninput=""
                                                class="stock__range">
                                        </div>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                    <div class="grid__cards cards">
                        <div class="cards__header">
                            <div class="cards__sorting"><select size="1" name="sort" class="cards__sort">
                                    <option selected disabled>sort options</option>
                                    <option value="sort1">sort by price ASC</option>
                                    <option value="sort2">sort by price DESC</option>
                                    <option value="sort3">sort by rating ASC</option>
                                    <option value="sort4">sort by rating ASC</option>
                                    <option value="sort5">sort by discount ASC</option>
                                    <option value="sort6">sort by discount ASC</option>
                                </select></div>
                            <div class="cards__found">found:</div>
                            <div class="cards__seach"><input type="text" placeholder="seach product"
                                    class="cards__input"></div>
                            <div class="cards__display">
                                <div class="cards__large"></div>
                                <div class="cards__small"></div>
                            </div>
                        </div>
                        <div class="cards__body">
                            <div class="cards__items">
                                <!-- /макет загружаются карточки динамически -->
                                <div class="cards__item card">

                                    <div class="card__image -ibg"><img
                                            src="https://i.dummyjson.com/data/products/1/1.jpg" alt=""
                                            class="card__img"></div>

                                    <div class="card__info">
                                        <div class="card__title">iPhone 9 </div>
                                        <div class="card__category">category: <span>smartphones</span></div>
                                        <div class="card__brand">brand: <span>Apple</span></div>
                                        <div class="card__price">price: <span>549</span>%</div>
                                        <div class="card__discount">discount: <span>12.96</span>%</div>
                                        <div class="card__rating">rating: <span>4.69</span></div>
                                        <div class="card__stock">stock: <span>94</span></div>
                                    </div>
                                    <div class="card__buy">
                                        <div class="card__add button">add to cart</div>
                                        <div class="card__detail button">details</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sources buttons"></div>
            <div class="cart"></div>
        </main>
        <footer class="footer">
            <div class="footer__container">

                <span class="copyright">Copyright <a href="#">OS</a></span>
                <a href="#" class="github">
                    <img src="<%= require('./assets/images/github.svg') %>" alt="github icon" width="30" height="30" />
                </a>
                <a href="" class="github">
                    <img src="<%= require('./assets/images/github.svg') %>" alt="github icon" width="30" height="30" />
                </a>
                <span class="date">Dec-2022</span>
                <a href="https://rs.school/js/" class="course-logo">
                    <img src="<%= require('./assets/images/rs_school_js.svg') %>" alt="course logo" width="60" />
                </a>
            </div>
        </footer>

        <template id="sourceItem" class="template">
            <div class="source__item">
                <span class="source__item-name"></span>
            </div>
        </template>
    </div>

    <script src="./index.js"></script>
</body>

</html>