$colorBack: #343440;
$colorMain: #6883A6;
$colorText: #D9B282;
$colorTitle: #D95F18;
$colorSecond: #F2B56B;
$pc: 1440;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
	background-color: $colorMain;
	font-family: 'Montserrat',
		sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1 1 auto;
}

.header {
	flex: 0 0 150px;
}

.footer {
	flex: 0 0 150px;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: $pc+px;
	padding: 0 15px;
}

[class*="-ibg"] {
	position: relative;
}

[class*="-ibg"] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.main__grid {
	min-height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 0.25fr 0.75fr;
	grid-template-rows: 1fr;
}

.filters {
	border: 4px solid red;
	display: flex;
	flex-direction: column;
}

.grid__cards {
	border: 4px solid red;
	display: flex;
	flex-direction: column;
}

.categories__input {}